/* Tablet Version */
@media screen and (min-width: 768px) {
    /* Common */
    .container {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .small-container {
        width: 60%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    /* Features section */
    #features .col:first-child {
        width: calc(100% / 3 * 2 - 1.5rem);
    }
    #features .col {
        width: calc(100% / 3 - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #features img {
        width: 50%;
    }
    .phone {
        align-items: flex-end;
        justify-content: flex-start;
    }
    /* Testimonial */
    .people {
        display: flex;
        align-items: center;
    }
    #testimonial .people  {
        text-align: left;
    }
    #testimonial img {
        margin-right: 1rem;
    }
    /* Benefits */
    #benefits .col {
        width: calc(100% / 2 - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    /* About us  */
    #about-us .col:first-child {
        width:60%;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    #about-us .col:last-child {
        width:30%;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    .quote-mark {
        position: relative;
        left: 110px;
        bottom: 180px;
    }
}

/* Desktop Version */
@media screen and (min-width: 992px) {
    /* Common */
    .container {
        width: 60%;
        margin: 0 auto;
    }
    /* Header */
    header {
        font-size: .9rem;
    }
    .header-container {
        width: 60%;
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .menu-nav ul {
        display: flex;
    }
    /* Features section */
    
    #features .col:first-child {
        display: flex;  
    }
    .phone img {
        width: 500px;
    }
   
    /* Planning section */
    #planning .col {
        width:calc(100% /2);
    }
    .strategic {
        margin-right: 1rem;
        position: relative;
    }
    /* Benefits */
    #benefits .col {
        width: calc(100% / 3 - 1.5rem);
    }
}

/* Large Desktop Version */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }

}

