/* Tablet Version */
@media screen and (min-width: 768px) {
    /* Features section */
    .col-large {
        width: 63%;   
    }
    .col-thin {
        width: 30%;
    }
}

/* Desktop Version */
@media screen and (min-width: 992px) {
    /* Header */
    .header-container {
        width: 70%;
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    .menu-nav ul {
        display: flex;
    }
    /* Features section */

    .container {
        width: 70%;
        margin: 0 auto;
    }
    .col-large {
        display: flex;
    }
    /* Planning section */
    
    .planning .col {
        width:calc((100% /2) - (40px /2) );
    }
}
/* Large Desktop Version */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

}

