/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}


/* STYLE */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* LAYOUT */

.col {
    margin-bottom: 20px;
    border-radius: 10px;
}
.card {
    padding: .5rem .5rem 0;
}
section {
    padding: 2rem 0;
}

/* Common */
.container {
    width: 100%;
    padding: 1rem ;
}
.small-container {
    width: 90%;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

/* HEADER */
header {
    height: 70px;
    background-color:#0084FD;
    color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
}
.menu-nav {
    display: flex;
}
.menu-nav ul {
    list-style-type: none;
    gap: 20px;
    display: none;
}
#btn-nav {
    background-color: white;
    color: black;
    padding: .4rem .8rem;
    border-radius: 1rem;
}

/* MAIN */
/* Features Section */
#features {
    font-size: .8rem;
    padding: 1.5rem .5rem;
    color: rgb(108, 105, 105); 
}
#features .col {
    background-color: #B5DDFF;
}
#features img {
    width: 60%;
    display: block;
    margin-top: 1rem;
}
.demo {
    text-align: left;
    line-height: 1.5rem;
}
.phone {
    display: flex;
    justify-content: center;
}
.icon {
    color:#0084FD;
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}
#features h4 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #0084FD;
}
#features p {
    padding-bottom: 2rem;
    font-weight: 700;
}
#btn-store {
    font-size: .9rem;
    background-color:#0084FD;
    padding: .4em 3em;
    border-radius: 1rem;
}
/* Planning Section*/
#planning {
    background-color:#9792E4;
    color: white;
}
#planning img {
    width: 90%;
    display: block;
    margin: 0 auto;
}
#planning .strategic p {
    font-size: .9rem;
    margin-bottom: 2rem;
}
#planning .developement p {
    font-style: italic;
    font-size: .9rem;
    margin-bottom: 2rem;
}
.strategic h3 {
    font-size: 1.8rem;
    margin: 2rem 0;
}
.developement {
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
}
.developement i {
    background-color: #9792E4;
    padding: .3rem .5rem;
    border-radius: 50%;
    text-align: center;
}
.developement h4 {
    margin: 1rem 0;
}
.arrow {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-align: center;
}
/* Testimonial */
#testimonial {
    background-color: white;
    text-align: center;
}
#testimonial img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}
#testimonial .card {
    font-size: .9rem;
}
#testimonial .card h2{
    font-size: 1.8rem;
    color:#9792E4;
    margin: 1.5rem 0;
}
#testimonial .people {
    background-color: #9792E4;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 1.5rem;
    color: white;
}
.people p {
    margin-bottom: 1rem;
    font-size: .9rem;
}
.people i {
    font-size: 1rem;
}
.name {
    font-weight: bold;
    font-size: 1.1rem;
}
/* Benefits */
#benefits {
    background-color: #9792E4;
}
#benefits h2{
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 3rem;
}
#benefits .card {
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
}
#btn-more {
    background-color: #9792E4;
    font-size: .9rem;
    font-weight: bold;
    padding: .4em 2.5em;
    border-radius: 1rem;
}
#benefits h3{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color:#9792E4;
}
#benefits h4{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color:#9792E4;
}
#benefits p{
    font-size: .8rem;
    margin-bottom: 1.5rem;
    color: rgb(117, 111, 111);
}

/* About us */
#about-us {
    background-color: white;
}
#about-us img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.quote-mark {
    color:#9792E4;
    font-size: 4rem;
    position: relative;
    right: 48px;
    bottom: 120px;
}
#about-us h2 {
    color:#9792E4;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#about-us p{
    font-size: .9rem;
    margin-bottom: 2rem;
    line-height: 1.5rem 
}

#about-us .cit {
    color:#9792E4;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#btn-find {
    background-color: #9792E4;
    font-size: .7rem;
    padding: .4em .8em;
    border-radius: 1rem;
}

/* Call to actions */
#actions {
    background-color: #9792E4;
    color: white;
    text-align: center;
}
#actions h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}
#actions h2 {
    color: #FDC15F;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    
}
#actions p {
    font-size: .8rem; 
    margin: 1.5rem 0;
}
#btn-started {
    background-color: white;
    color:#9792E4;
    font-size: .8rem;
    font-weight: bold;
    padding: .8em 4em;
    border-radius: 1.5rem;
}

/* FOOTER */
footer {
    background-color: #333333;
    color: white;
    font-size: .8rem;
    text-align: center;
    padding-bottom: 1rem;
}
footer a {
    text-decoration: underline;
    color:#9792E4;

}
footer p {
    padding-top: 3rem;
}



