/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* STYLE */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

/* LAYOUT */
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    /* Debug */
    border: 2px solid red;
}
.card {
    padding: .8rem;
     /* Debug */
     border: 2px solid blue;
}

/* Common */
.container {
    width: 100%;
}

/* HEADER */
header {
    height: 70px;
    /* Debug */
    background-color: lightblue;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
}
.menu-nav {
    display: flex;
}
.menu-nav a {
    text-decoration: none;
}
.menu-nav ul {
    list-style-type: none;
    gap: 10px;
    display: none;
}


